<html>
    <head> <h1>Ajax Ninjas</h1>
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script type="text/javascript" >
        
        $(document).ready(function(){
                
                $('button').click(function(){
                        if(this.id === "blue"){
                          $('h2').html("Leonardo");
                           $('img').attr("src","/static/leonardo.jpg")
                            
                        }
                      if(this.id ==="purple"){
                          $('h2').html("Donaldtello");
                          $('img').attr("src","/static/donatello.jpg")
                      }
                      if(this.id === "orange"){
                          $('h2').html("Michelangelo");
                          $('img').attr("src", "/static/michelangelo.jpg")
                      }
                      if(this.id === "red"){
                          $('h2').html("Raphael");
                          $('img').attr("src", "/static/raphael.jpg")
                      }
                    
                      
                    })
                           $('#april').submit( ()=> {
                               $('img').attr("src", "/static/notapril.jpg")
                               return false
                           })
                })
        </script>

    </head>
    <body>
        <h2></h2>
        <img src="">
        <button id="red"> RED</button>
        <button id="blue"> Blue</button>
        <button id="orange"> Orange</button>
        <button id="purple"> Purple </button>
        <form id="april" action="/april" mehtod="post">
            <input id="april" type="text">
            <input type="submit">
        </form>
    </body>
</html>