<html>
    <head> <h1>Ajax Ninjas</h1>
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('button').click(function(){

                })
            })
                
        </script>

    </head>
    <body>
    
        <button id="red"> RED</button>
        <button id="blue"> Blue</button>
        <button id="orange"> Orange</button>
        <button id="purple"> Purple </button>
    </body>
</html>